beautifulsoup4==4.10.0
requests==2.26.0
pytest
python-dotenv
pyppeteer
pyppeteer_stealth
pytest-asyncio

python-fasthtml
requests
openai
python-dotenv
pysqlite3
sqlite-vec

datasets
sentence_transformers
umap-learn
plotly
kaleido